h1{
    color: dodgerblue;
    background-color: lightgray ;
    width: 50%;
    outline-style: solid;
      }

.text{
      height: 250px;
      width: 500px;
      }
      
#remaining{
      position: absolute;
      left: 400px;
      top : 345px;
      border: solid red;
      width: 75px;
      text-align: center;
      }